<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>DAOFAB - A Decentralised Autonomous Organisation For All Businesses</title>

</head>

<body>
  <div class="container-fluid">
    <div class="row p-4 align-items-center">
      <div class="col-4">
        <img src="assets/img/DaoFABLogo.png" width="80%">
      </div>
      <div class="col-3 text-right">
        <div><a href="#pro-service" class="text-decoration-none">PROFESSIONAL SERVICES</a></div>
      </div>
      <div class="col-3 text-center">
        <div><a href="#" class="text-decoration-none" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/legalfab/productdemo'});return false;">SCHEDULE A DEMO</a></div>
      </div>
      <div class="col-1">
        <div><a href="#faq" class="text-decoration-none">FAQ</a></div>
      </div>
    </div>
    <div class="row pl-5 align-items-center">
      <div class="col-5">
        <h2>BLOCKCHAIN-BASED PLATFORM FOR DIGITAL ASSETS</h2>
        <p>Hold, receive and send multi-currency digital tokens and assets via your company’s digital wallet. Earn
          interests on your digital tokens and assets.</p>
        <a type="button" class="btn btn-lg btn-outline-primary" href="mailto:info@daofab.com">OPEN YOUR COMPANY DIGITAL WALLET</a>
        <p class="text-muted font-italic"><small>* Early access through our trusted partners</small></p>
      </div>
      <div class="col-7">
        <img src="assets/img/Digital-Handshake.png" width="100%">
      </div>
    </div>
    <div class="row pl-3 align-items-center hbg" id="pro-service">
      <div class="col-5">
        <img src="assets/img/Escrow.png" width="70%">
      </div>
      <div class="col-6">
        <h2>NON-CUSTODIAL ESCROW</h2>
        <p>Provide non-custodial escrow on Monetary Authority of Singapore’s Ubin payments network or other blockchains.
          Minimise counterparty risk for your clients, a better and safer way to transact. Supports multi-currencies
          including United States Dollar and Singapore Dollar.</p>
        <button type="button" class="btn btn-lg btn-outline-primary"
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/legalfab/productdemo'});return false;">SCHEDULE
          A DEMO</button>
      </div>
    </div>
    <div class="row pl-5 align-items-center">
      <div class="col-5">
        <h2>FUND MANAGEMENT</h2>
        <p>A blockchain-backed platform to create, manage and disburse funds contained in non-custodial escrow. Secure
          signing through your company’s multi-signature wallet that can mirror your bank signing mandate.</p>
      </div>
      <div class="col-7 text-center">
        <img src="assets/img/Funds Management.png" width="70%">
      </div>
    </div>
    <div class="row pl-3 align-items-center hbg">
      <div class="col-5">
        <img src="assets/img/Notification.png" width="70%">
      </div>
      <div class="col-6">
        <h2>REAL-TIME TRANSACTION NOTIFICATIONS</h2>
        <p>Send and receive real-time transaction notifications via the platform. Verify and monitor funds locked in
          escrow using the blockchain network.</p>
      </div>
    </div>
    <div class="row pl-5 align-items-center">
      <div class="col-5">
        <h2>YOUR COMPANY AT A GLANCE</h2>
        <p>Secure signing mechanism to authorise release of funds and perform fund transfer transaction based on your
          company’s pre-determined signing mandate.</p>
      </div>
      <div class="col-7 text-center">
        <img src="assets/img/DigitalAssets.png" width="70%">
      </div>
    </div>
    <!-- <div class="row pl-3 pt-4 pb-4 align-items-center hbg" id="schedule">
      <div class="col-5 text-center">
        <img src="assets/img/Subscribe.png" width="40%">
      </div>
      <div class="col-7">
        <h2>STAY INFORMED AND SUBSCRIBE FOR EARLY ACCESS</h2>
        <div class="row align-items-center">
          <div class="col"><input type="text" class="form-control-lg col-12" placeholder="ENTER EMAIL ADDRESS" [(ngModel)]="email"></div>
          <div class="col text-left"><button type="button" class="btn btn-lg btn-outline-primary"
              (click)="subcribe()">SUBSCRIBE</button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row pl-3 pt-4 pb-4 align-items-center hbg">
      <div class="col-5 text-center">
        <img src="assets/img/Support.png" width="40%">
      </div>
      <div class="col-7 text-left">
        <h2>QUESTIONS? USE OUR LIVE CHAT FUNCTION TO SPEAK TO US</h2>
        <button type="button" class="btn btn-lg btn-outline-primary" onclick="tidioChatApi.open()">CHAT WITH US</button>
      </div>
    </div>
    <div class="row pl-5 align-items-center">
      <div class="col-5">
        <h2>YOUR TRUSTED PARTNER</h2>
        <p>Earn professional fees by offering escrow, trust related services and other professional services on DAOFAB.
          Speak to us about joining us as a trusted partner today.</p>
        <button type="button" class="btn btn-lg btn-outline-primary" (click)="partner()">PARTNER WITH US</button>
      </div>
      <div class="col-7 text-center">
        <img src="assets/img/Partners.png" width="70%">
      </div>
    </div>
   
    <!-- <div class="row pt-4 pb-4 align-items-center">
      <div class="text-center col-12">
        <h2>TRUSTED BY</h2>
      </div>
    </div> -->
    <div class="row pl-5 pr-5 pt-4 pb-4 align-items-center hbg" id="faq">
      <div class="col-auto">
        <h2>FREQUENTLY ASKED QUESTIONS</h2>
        <h5>How do I obtain tokens, digital assets or stable coins?</h5>
        <p>You may obtain tokens, digital assets or stable coins from any fiat to crypto exchange by exchanging fiat
          currency to tokens, digital assets or stable coins. On Project Ubin, clients may obtain tokens in different
          currencies through their participating financial institutions.</p>
        <h5>How can I utilise this service as a professional services provider (e.g. trust company, escrow agents, law
          firm)?</h5>
        <p>You may deploy our platform on a white label basis for your clients to utilise. Speak to us today to
          understand our different deployment models available for professional service providers.</p>
        <h5>As a business, how do I sign-up for early access to the system?</h5>
        <p>You may sign-up for early access to the system through our Trusted Partners. If you are interested to
          participate in our partner testing program, speak to us today and we can connect you with one of our Trusted
          Partners to obtain early access to the system.</p>
        <h5>What type of use cases are you able to support?</h5>
        <p>We support a wide variety of use cases (e.g. deposit for mergers and acquisitions, trade finance, vessel sale
          etc) where funds are locked pending completion of certain conditions. Our partners generally use a blockchain
          settlement system to support real-time settlement or transactions which are traditionally not well supported
          by the existing payment rails.</p>
        <h5>Do I need to obtain a bank account to obtain receipt of the funds?</h5>
        <p>A bank account is only required if you intend to convert the tokens, digital assets or stable coins to fiat
          dollars. In all other instances, the digital assets are secured by a smart contract on the applicable
          blockchain network to allow a professional service provider to provide certain services in a non-custodial
          manner.</p>
      </div>
    </div>
    <div class="row pt-4 align-items-center">
      <div class="col-12 text-center">
        <img src="assets/img/Symbol.png" width="10%">
      </div>
    </div>
    <div class="row pb-4 align-items-center">
      <div class="col-12 text-center">
        <a href="https://t.me/legalfabdotcom" target="_blank" class="text-decoration-none"><img
            src="assets/img/telegram.png" width="60"></a>
        <a href="https://www.facebook.com/legalfabdotcom" target="_blank" class="text-decoration-none"><img
            src="assets/img/facebook.png" width="60"></a>
        <a href="https://www.linkedin.com/company/legalfab" target="_blank" class="text-decoration-none"><img
            src="assets/img/linkedin.png" width="60"></a>
      </div>
    </div>
    <div class="row pt-2 pb-3 border-light border-top">
      <div class="col-12 text-center">
        <p class="text-muted"><small>© Copyright 2020 DAOFAB. All Rights Reserved. ‘DAOFAB’, ‘DAOFAB Token’ are used as
            unregistered trademarks.</small></p>
      </div>
    </div>
  </div>

</body>

</html>

<router-outlet></router-outlet>
